.vagrant
**/.DS_Store
**/*.py[cod]
*.so
.Python
.venv/
lib/
lib64/
env/
__pycache__/
node_modules/
**/bower/
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
docs/_build/
target/

