{% extends "layout/main.html" %}
{% block body %}

<div class="container">
    <div class="blog-header ">

<p>Your password reset email was sent</p>
<p>You should receive an email to signin with a new password shortly.</p>
<p>Clicking on the password reset link in the email will take you to a password reset page
where you can enter a new password to change your password and sign in</p>


<p>If the link expired or you did not receieve the email, you can re-send the link to your
account email from by Clicking <a href="{{ url_for('account.send_password_email') }}">here</a>
or by using the forgot password link on our home page</p>
<p>For security reasons the link will expire in 15 minutes.</p>
{% if debug %}
<p><a href="{{url}}">click here</a> to reset your password<p>
{% endif %}
</div>
</div>
{% endblock %}

